:root {
	--white: #fff;
	--off-white: #fbfbfb;
	--black: #000;
	--blue: #11343a;
	--dark-blue: #122a2f;
	--yellow: #FFE600;
	--light-gray: #f5f5f5;
	--gray: #394948;
	--gray-text: #949494;
	--dark-gray: #131316;
	--blue-gray: #131a1d;
	--blue-gray-hover: #1a2226;

}

*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	direction: ltr;
	scroll-behavior: smooth;
}
