@media only screen and (min-width: 1200px) {

	div[class*='container'] {
		width: 1000px;
		height: 5rem;
		padding-right: 1rem;
		padding-left: 1rem;
	}

/* ----------------------------------------------------
						navbar
-----------------------------------------------------*/

	.navbar-link {
		font-size: 1.2rem;
	}

	.logo {
		transform: scale(1);
	}

}