@media only screen and (min-width: 1200px) {

	div[class*='container'] {
		width: 900px;
		padding-right: 1rem;
		padding-left: 1rem;
	}

/* ----------------------------------------------------
						navbar
-----------------------------------------------------*/

	.navbar-link {
		font-size: 1.5rem;
	}

	.logo {
		transform: scale(1);
	}


/* ----------------------------------------------------
						hero
-----------------------------------------------------*/

	.slogan {
		font-size: 3rem;
    	max-width: 40rem;
	}

	.buy-btn {
		font-size: 1.5rem;
    	width: fit-content;
    	padding: 1rem 3rem;
    	line-height: 1;
	}

	.move-down-btn {
		width: 4rem;
		height: 4rem;
	}


/* ----------------------------------------------------
						Services
-----------------------------------------------------*/

	.services-container {
		gap: 0.5rem;
	}

	.secondary-title {
		font-size: 1rem;
	}

	.main-title {
		font-size: 2rem;
	}

	.divider {
		width: 15rem;
	}

	.description {
		font-size: 1rem;
	}

	.services {
		margin-top: 0;
	}

	.service {
		max-width: 15rem;
	}

	.service-icon-wrapper {
		width: 4rem;
    	height: 4rem;
	}

	.service-icon {
		width: 1.8rem;
		height: 1.8rem;
	}

	.service-title {
		font-size: 1rem;
	}

	.service-description {
		font-size: 0.9rem;
	}

/* ----------------------------------------------------
					how we do it
-----------------------------------------------------*/

	.how-container {
		padding-top: 2rem;
		gap: 1rem;
	}
	.how-title {
		font-size: 2rem;
	}

	.how-description {
		font-size: 1rem;
	}

	.stages {
		margin-top: 0;
	}

	.stage {
		gap: 1.5rem;
	}

	.stage-icon {
		width: 2rem;
		height: 2rem;
	}
	
	.stage-text {
		max-width: 6rem;
	}

	.stage-title {
		font-size: 1rem;
	}
	.stage-description {
		font-size: 0.9rem;
		font-weight: lighter;
	}

/* ----------------------------------------------------
						works
-----------------------------------------------------*/

	.work-img {
		min-width: 35rem;
		min-height: 25rem;
	}

/* ----------------------------------------------------
				like-our-porfolio
-----------------------------------------------------*/

/* ----------------------------------------------------
					numbers
-----------------------------------------------------*/

	div[class*='number'] h3{
		color: var(--white);
		font-size: 2rem;
		font-weight: bold;
	}

	div[class*='number'] p {
		color: var(--yellow);
		font-size: 1rem;
		font-weight: lighter;
	}

/* ----------------------------------------------------
					About us
-----------------------------------------------------*/

	.value-text {
		flex-direction: column;
		max-width: 20rem;
	}

	.value-title {
		font-size: 1rem;
	}


}
