div[class*='container'] {
		width: 100%;
}

[class*="section"] {
	width: 100vw;
}


/* ----------------------------------------------------
						navbar
-----------------------------------------------------*/


nav {
	/* background-color: var(--dark-blue); */
	
	width: 100vw;
	height: 5rem;

	position: fixed;
	z-index: 100;

	/* top: -5rem; */
	top: 0;

	display: flex;
	justify-content: center;
	align-items: center;
}

nav:hover {
	/* background-color: var(--dark-blue); */
}

.navbar-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;

	position: relative;

}

.logo {
	width: 80px;
	height: 80px;
}

.hamburger-icon {
	width: 2rem;
    height: 2rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    fill: var(--yellow);
}

.navbar-links-ul {
	background-color: var(--dark-blue);

	width: 100vw;
	height: 95vh;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	text-align: center;

	gap: 2rem;
	padding-top: 2rem;

    position: absolute;
    z-index: 100;
    top: 10vh;
    right: calc(-1 * var(--menu-width));
	
}

.hidden {
	visibility: hidden;
}


.navbar-link {
	width: 100%;
	color: var(--white);
	font-size: 1.5rem;

	
}

.block-before {
	position: relative;
}

.block-before::before {
	content: '';
	width: 0.5rem;
	height: 0.5rem;
	background-color: var(--yellow);

	position: absolute;
	right: 0;
	left: 0;
	margin-left: auto;
	margin-right: auto;
	top: -1rem;

}

.current {
	color: var(--yellow);
}

/* ----------------------------------------------------
					sliding panels
-----------------------------------------------------*/
.sliding-panels {
	position: fixed;
	width: fit-content;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 200;
}

.panel-1, .panel-2, .panel-3, .panel-4 {
	width: 100vw;
	height: 25%;
	position: relative;
	left: 0;
	z-index: inherit;
}

.panel-1 {
	background-color: var(--yellow);
}
.panel-2 {
	background-color: var(--yellow);
}
.panel-3 {
	background-color: var(--yellow);
}
.panel-4 {
	background-color: var(--yellow);
}
/* ----------------------------------------------------
						hero
-----------------------------------------------------*/

.hero-section {
	/* padding-top: 12vh; */
	height: 100vh;

	overflow-x: hidden;

	position: relative;
	z-index: 20;

	background-color: var(--blue);
}

.hero-bg-strip {
	width: 100%;
	height: 40%;
	background-color: var(--dark-blue);
	position: absolute;
    top: 36%;

    opacity: 50%;

    z-index: 21;

    /* visibility: hidden; */
}

.slogan {
	font-size: 2rem;
	color: var(--white);
	position: absolute;
    top: 42vh;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
	max-width: 25rem;
    z-index: 22;
    text-align: center;
}

.buy-btn {
	width: 12rem;
	padding: 0.75rem 2rem;
	font-weight: bold;
	text-align: center;
	color: var(--black);
	background-color: var(--yellow);

	position: absolute;
	top: 60vh;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	z-index: 22;

	/* opacity:0; */
}

.move-down-btn {
	width: 3rem;
	height: 3rem;
	padding: 0.5rem;
	background-color: var(--yellow);

	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.move-down-btn svg {
	width: 2rem;
	height: 2rem;
	fill: var(--white);
}

/* ----------------------------------------------------
						Services
-----------------------------------------------------*/


.services-section {
	background-color: var(--off-white);
}

.services-container {
	padding: 1rem;
	padding-top: 7rem;
	padding-bottom: 3rem;

	display: flex;
	flex-direction: column;
	gap: 1rem;

	position: relative;
	text-align: center;
}

.secondary-title {
	margin-right: auto;
	margin-left: auto;

	line-height: 1;
}

.main-title {
	margin-right: auto;
	margin-left: auto;

	font-size: 2rem;
	line-height: 1;
}

.divider {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;

	width: 10rem;
	border-bottom: 3px solid var(--yellow);
}

.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
}

.service {
	transition: 0.2s;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.service:hover {
	transition: 0.2s;
	background-color: var(--light-gray);
}

.service-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	text-align: left;
	cursor: default;
}

.service-name {
	line-height: 1.5;
}

.service-description {
	line-height: 1;
}
.service-icon-wrapper {
	transition: 0.2s;

	width: 5rem;
	height: 5rem;

	min-width: 5rem;
	min-height: 5rem;

	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--yellow);

	border: 1px solid transparent;
	border-radius: 50%;

	cursor: pointer;


}
.service-icon {
	width: 2rem;
	height: 2rem;
	filter: invert(99%) sepia(94%) saturate(17%) hue-rotate(336deg) brightness(106%) contrast(100%);
}

.service-icon-wrapper:hover {
	transition: 0.2s;
	background-color: var(--white);
	border-color: var(--black); 
}

.service-icon-wrapper:hover>* {
	transition: 0.2s;
	filter: invert(70%) sepia(96%) saturate(465%) hue-rotate(2deg) brightness(108%) contrast(106%);

}



/* ----------------------------------------------------
					how we do it
-----------------------------------------------------*/

.how-section {
	background-color: var(--blue-gray);

}

.how-container {
    padding: 1rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    text-align: center;
}

.how-title {
	color: var(--yellow);
	margin-right: auto;
    margin-left: auto;
    font-size: 2rem;
    line-height: 1;
}

.how-description {
	font-weight: lighter;
	color: var(--white);
	margin-right: auto;
    margin-left: auto;
}

.stages {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    margin-top: 2rem;
}

.stage {
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    transition: 0.5s;
}

.stage:hover {
	background-color: var(--blue-gray-hover);
	transform: scale(1.05);

	transition: 0.2s;
}

.stage-icon {
	width: 2rem;
    height: 2rem;
    filter: invert(70%) sepia(96%) saturate(465%) hue-rotate(2deg) brightness(108%) contrast(106%);
}


.stage-text {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    max-width: 10rem;

	cursor: default;
}

.stage-title {
	color: var(--white);
}

.stage-description {
	color: var(--white);
	font-size: 0.8rem;
	font-weight: lighter;
	line-height: 1;
}


/* ----------------------------------------------------
						works
-----------------------------------------------------*/


.works-section {
	background-color: var(--white);
	position: relative;
}

.works-container {
	padding: 1rem;
	padding-top: 6rem;
	padding-bottom: 1rem;

	display: flex;
	flex-direction: column;
	gap: 1rem;

	position: relative;
	text-align: center;
}

.works-secondary-title {
	margin-right: auto;
	margin-left: auto;

	line-height: 1;
	font-weight: normal;
	color: var(--gray-text);
}

.works-main-title {
	margin-right: auto;
	margin-left: auto;

	font-size: 2rem;
	line-height: 1;
}

.divider {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;

	width: 10rem;
	border-bottom: 3px solid var(--yellow);
}

.works-description {
	color: var(--gray-text);
}

.filters {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: scroll;

	justify-content: flex-start;
    align-items: center;

    gap: 0.5rem;
}

.filters::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.filters {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.filter {
	display: block;
	width: 100%;
	border: none;
	padding: 0.5rem 1rem;
	cursor: pointer;
	text-align: center;
	border-radius: 18px;

	/*this makes the width of the button fit the text inside it*/
	white-space: nowrap;

	background-color: var(--yellow);
}

.filter.selected {
	background-color: var(--black);
	color: var(--yellow);
}

.work-showcase {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2.5rem;

	background-color: var(--off-white);

	padding-top: 3.5rem;
	padding-bottom: 2rem;

	position: relative;
}

.work-title {
	font-size: 1.5rem;
}

.work-description {
	color: var(--gray-text);
	text-align: justify;
}

.showcase-hidden {
	display: none;
}

.close-showcase {
	position: absolute;
	top: 1rem;
	right: 1rem;
}

.close-showcase img {
	width: 0.75rem;
    height: 0.75rem;
	filter: invert(70%) sepia(96%) saturate(465%) hue-rotate(2deg) brightness(108%) contrast(106%);
}

.close-showcase:hover {
	cursor: pointer;
}

.work-img {
	width: 16rem;
	height: 16rem;
	object-fit: contain;
	background-color: var(--blue);
}

.work-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;

	gap: 1rem;
}


.square-divider {
	width: 0.5rem;
    height: 0.5rem;
    background: var(--yellow);

    display: none;
}

.cta-buttons {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 0.5rem;
}

.view-live-btn {
	color: var(--white);
	background-color: var(--yellow);
	padding: 0.5rem 2rem;
}

.work-selection-wrapper {
	background-color: var(--gray);

	height: 20rem;

	/*solving the horizontal scrolling problem, */
	width: var(--viewportWidth);
	position: relative;
	right: 50%;
	margin-right: -50vw;
	margin-left: 0;
	margin-left: calc(50% - 50vw - var(--finalHalfScrollbar, -7px));
	overflow: hidden;


	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;


}

.work-selection-wrapper::-webkit-scrollbar {
  	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.work-selection-wrapper {
  	-ms-overflow-style: none;  /* IE and Edge */
  	scrollbar-width: none;  /* Firefox */
}

/*
.work {
	width: 50%;
	height: 10rem;
}

.work:nth-child(odd) {
	background-color: var(--yellow);
}

.work:nth-child(even) {
	background-color: var(--blue);
}*/

/* ----------------------------------------------------
				like-our-porfolio
-----------------------------------------------------*/

.like-our-portfolio-section {
	background-color: var(--white);
	position: relative;
}

.lop-container {
	padding: 1rem;
	padding-top: 3rem;
	padding-bottom: 3rem;

	display: flex;
	flex-direction: column;
	gap: 1rem;

	position: relative;
	text-align: center;
}

.lop-title {
	margin-right: auto;
	margin-left: auto;

	font-size: 2rem;
	line-height: 1;
}

.lop-description {
	margin-right: auto;
	margin-left: auto;

	line-height: 1;
	font-weight: normal;
	color: var(--gray-text);
}

.lop-contact-btn {
	width: fit-content;

	margin-left: auto;
	margin-right: auto;

	color: var(--white);
    background-color: var(--yellow);
    padding: 0.5rem 2rem;
}


/* ----------------------------------------------------
						numbers
-----------------------------------------------------*/


.numbers-section {
	background-color: var(--blue-gray);
	position: relative;
}

.numbers-container {
	padding: 1rem;
	padding-top: 3rem;
	padding-bottom: 3rem;

	display: flex;
	flex-direction: column;
	gap: 1rem;

	position: relative;
	text-align: center;
}

.numbers-title {
	margin-right: auto;
	margin-left: auto;

	font-size: 2rem;
	line-height: 1;

	color: var(--white);
}

.numbers-description {
	margin-right: auto;
	margin-left: auto;

	line-height: 1;
	font-weight: lighter;
	color: var(--light-gray) !important;
}

.numbers {
	margin-top: 1rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.number-wrapper {
	transition: 0.5s;

	width: 40%;
	height: 7rem;
	padding: 1rem;
	border: 1px solid var(--yellow);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0;


}

.number-wrapper:hover {
	transition: 0.5s;
	background-color: var(--dark-blue);
	cursor: pointer;
}

.numbers div[class*='number'] h3{
	transition: 0.5s;
	color: var(--white);
	font-size: 1.5rem;
	font-weight: bold;

}

.number-wrapper:hover h3{
	transition: 0.5s;
	letter-spacing: 2px;
}

.numbers div[class*='number'] p {
	transition: 0.5s;

	color: var(--yellow);
	font-size: 0.8rem;
	font-weight: lighter;
}

.number-wrapper:hover p {
	transition: 0.5s;
	letter-spacing: 2px;
}


/* ----------------------------------------------------
					About us
-----------------------------------------------------*/


.about-us-section {
	background-color: var(--white);
	position: relative;
}

.about-us-container {
	padding: 1rem;
	padding-top: 6rem;
	padding-bottom: 1rem;

	display: flex;
	flex-direction: column;
	gap: 1rem;

	position: relative;
	text-align: center;
}

.au-secondary-title {
	margin-right: auto;
	margin-left: auto;

	line-height: 1;
	font-weight: normal;
	color: var(--gray-text);
}

.au-main-title {
	margin-right: auto;
	margin-left: auto;

	font-size: 2rem;
	line-height: 1;
}

.divider {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;

	width: 10rem;
	border-bottom: 3px solid var(--yellow);
}

.au-description {
	color: var(--gray-text);
	margin-bottom: 1rem;
}

.values-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.value {
	transition: 0.2s;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 1rem;

	padding: 1rem;
	padding-bottom: 1.5rem;
	padding-top: 1.5rem;
	border-bottom: 1px solid var(--black);
	border-top: 1px solid transparent;
}


.value:last-of-type {
	border-bottom: 1px solid transparent;
}

.value:nth-of-type(even) {
	flex-direction: row-reverse;
}



.value:hover {
	transition: 0.2s;
	background-color: var(--light-gray);
}

.value-text {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}

.value-name {
	line-height: 1.5;
}

.value-description {
	line-height: 1;
	text-align: justify;
}
.value-icon-wrapper {
	transition: 0.2s;

	width: 5rem;
	height: 5rem;

	min-width: 5rem;
	min-height: 5rem;

	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--yellow);

	border: 1px solid transparent;
	border-radius: 50%;

	cursor: pointer;


}
.value-icon {
	width: 2rem;
	height: 2rem;
	filter: invert(99%) sepia(94%) saturate(17%) hue-rotate(336deg) brightness(106%) contrast(100%);
}

.value-icon-wrapper:hover {
	transition: 0.2s;
	background-color: var(--white);
	border-color: var(--black); 
}

.value-icon-wrapper:hover>* {
	transition: 0.2s;
	filter: invert(70%) sepia(96%) saturate(465%) hue-rotate(2deg) brightness(108%) contrast(106%);

}

/* ----------------------------------------------------
					The team
-----------------------------------------------------*/


.team-section {
	background-color: var(--off-white);
	position: relative;
}

.team-container {
	padding: 1rem;
	padding-top: 3rem;
	padding-bottom: 3rem;

	display: flex;
	flex-direction: column;
	gap: 1rem;

	position: relative;
	text-align: center;
}

.team-title {
	margin-right: auto;
	margin-left: auto;

	font-size: 2rem;
	line-height: 1;

	color: var(--black);
}

.team-description {
	margin-right: auto;
	margin-left: auto;

	line-height: 1;
	font-weight: lighter;
	color: var(--gray);
}

.members {
	margin-top: 1rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.member {
	background-color: var(--white);
	box-shadow: rgb(0 0 0 / 1%) 0px 0px 6px, rgb(0 0 0 / 1%) 0px 3px 3px;
	cursor: pointer;
	transition: 0.5s all ease-out;
}
.member:hover {
	background-color: var(--white);
	box-shadow: rgb(0 0 0 / 5%) 0px 1px 6px, rgb(0 0 0 / 10%) 0px 3px 6px;
	cursor: pointer;
}

.member-img-wrapper {
	background-color: var(--blue);
	object-fit: contain;
	width: 12rem;
	height: 12rem;
}

.member-img {
	width: 12rem;
	height: 12rem;
}

.member-text {
	padding: 1rem;
}

.member-name {
	color: var(--yellow);
    font-weight: normal;
}

.member-job-title {
	color: var(--gray);
}

.members-info-bleeding-background {
	width: var(--viewportWidth);
	position: relative;
	right: 50%;
	margin-right: -50vw;
	margin-left: 0;
	margin-left: calc(50% - 50vw - var(--finalHalfScrollbar, -7px));
	overflow: hidden;

	background-color: var(--blue-gray);
}


.member-details {
	width: 100vw;
    padding: 3rem;
    background-color: var(--dark-gray);
    bottom: 0;
	display: none;
}

.member-details .member-name {
	font-size: 1.25rem;
}

.close-detailed-description {
	position: absolute;
    right: 3.5rem;

}

.member-details-container {
	text-align: left;
}

.close-detailed-description img {
	filter: invert(1);
	cursor: pointer;
}

.member-detailed-description {
	color: var(--white);
	font-weight: lighter;
}

/* ----------------------------------------------------
					skills
-----------------------------------------------------*/

.skills-section {
	background-color: var(--blue-gray);
	position: relative;
	z-index: 10;
}

.skills-container {
	padding: 1rem;
	padding-top: 3rem;
	padding-bottom: 3rem;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;

	position: relative;
}

.skills-title {
	color: var(--white);
	font-size: 1.5rem;
	font-weight: bold;
}

.skills-description {
	color: var(--white, #fff);
    font-weight: lighter;
    font-size: 0.9rem;
    line-height: 1;
	text-align: center;

	margin-right: auto;
    margin-left: auto;
}

.skills {
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.skill {
	width: 150px;
    height: fit-content;

	position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: center;
    gap: 0.5rem;
}

.percentage {
	position: relative;
	width:130px;
	height:130px;
	
}

.percentage svg {
	position: relative;
	width:130px;
	height:130px;
}

.percentage svg circle {
	width:100%;
	height:100%;
	fill:transparent;
	stroke-width: 5;
	stroke: #191919;
	transform: translate(5px, 5px);

	stroke-dasharray:380;
	stroke-dashoffset:0;
}

.skill .percentage svg circle:nth-child(1) {
	stroke-dasharray: 0;    
	stroke: var(--white, #fff);
}
.skill:nth-of-type(1) .percentage svg circle:nth-child(2) {
	stroke-dashoffset: calc(440 - (440 * var(--percentage-1)) / 100);
	stroke: var(--yellow);
}

.skill:nth-of-type(2) .percentage svg circle:nth-child(2) {
	stroke-dashoffset: calc(440 - (440 * var(--percentage-2)) / 100);
	stroke: var(--yellow);
}
.skill:nth-of-type(3) .percentage svg circle:nth-child(2) {
	stroke-dashoffset: calc(440 - (440 * var(--percentage-3)) / 100);
	stroke: var(--yellow);
}
.skill:nth-of-type(4) .percentage svg circle:nth-child(2) {
	stroke-dashoffset: calc(440 - (440 * var(--percentage-4)) / 100);
	stroke: var(--yellow);
}

.number {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items:center;
	color: var(--yellow);

	font-size: 2.5rem;
    font-weight: lighter;
}

.skill-name {
	color: var(--yellow);
	font-weight: normal;
}



/* ----------------------------------------------------
					Clients
-----------------------------------------------------*/

.clients-section {
	background: var(--white);
    position: relative;
    z-index: 5;
    margin-bottom: 15rem;

	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);
}


.clients-container {
	padding: 1rem;
	padding-top: 6rem;
	padding-bottom: 3rem;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	gap: 0.25rem;

	position: relative;
	text-align: center;
}

.clients-secondary-title {
	margin-right: auto;
	margin-left: auto;

	line-height: 1;
	font-weight: normal;
	color: var(--gray-text);
}

.clients-main-title {
	margin-right: auto;
	margin-left: auto;

	font-size: 2rem;
	line-height: 1;
}

.divider {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;

	width: 10rem;
	border-bottom: 3px solid var(--yellow);
}

.clients-description {
	color: var(--gray-text);
	margin-bottom: 2rem;
}

.clients {
	width: 90%;
	overflow-x: hidden;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3rem;
}
.slider-wrapper {
	overflow: hidden;
	position: relative;
	left: 0;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap:1rem;
}

.client {
	
	width: fit-content;
	height: 2rem;
	object-fit: contain;

	float: left;
	overflow:hidden;

	position: relative;
	left: 0;
}

.client img {
	width: 100%;
	height: 100%;
}


.clients-slider-control {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 3rem;
	margin-block-start: 2.5rem;
}

.previous-client, .next-client {
	background-color: var(--yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
	cursor: pointer;
}

.previous-client img, .next-client img {
	filter: invert(100%) sepia(82%) saturate(2%) hue-rotate(220deg) brightness(111%) contrast(101%);
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    
}

.previous-client img {
	right: 3px;
}

.next-client img {
    left: 2px;	
}

/* ----------------------------------------------------
					Testimonials
-----------------------------------------------------*/

.testimonials-section {
	background-color: var(--blue-gray);
    width: 100vw;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 35%;

	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}

.testimonials-container {
	padding-block: 3rem;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.testimony {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;

	display: none;
	
}

.testimony.current {
	display: flex;
}

.testimony-text {
	color: var(--white);
    text-align: center;
    width: clamp(10rem, 60%, 35rem);
    line-height: 1.25;

}

.testifying-party {
	color: var(--white);
}

.testimonies-control .control-slider-element {
	display: inline-block;
	width: 0.5rem;
	height: 0.5rem;
	background-color: var(--white);
	cursor: pointer;
}

.testimonies-control .control-slider-element.current {
	background-color: var(--yellow);
}



/* ----------------------------------------------------
					Contact us
-----------------------------------------------------*/
.contact-us-section {
	background-color: var(--white);
    position: relative;
    z-index: 5;
    margin-top: 15rem;

	box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.5);
}

.contact-us-container {
	padding: 1rem;
	padding-top: 6rem;
	padding-bottom: 1rem;

	display: flex;
	flex-direction: column;
	gap: 1rem;

	position: relative;
	text-align: center;
}

.cu-secondary-title {
	margin-right: auto;
	margin-left: auto;

	line-height: 1;
	font-weight: normal;
	color: var(--gray-text);
}

.cu-main-title {
	margin-right: auto;
	margin-left: auto;

	font-size: 2rem;
	line-height: 1;
}

.divider {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;

	width: 10rem;
	border-bottom: 3px solid var(--yellow);
}

.cu-description {
	color: var(--gray-text);
	margin-bottom: 1rem;
}

.contact-methods {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

}

.method {
	transition: 0.2s;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;

	padding: 1rem;
	padding-bottom: 1.5rem;
	padding-top: 1.5rem;
	border-inline: 1px solid transparent;
	border-block: 1px solid transparent;
}



.method:hover {
	transition: 0.2s;
	background-color: var(--light-gray);
}

.method-name {
    text-align: center;
	line-height: 1.5;
}

.method-info {
	line-height: 1;
	color: var(--gray-text);
}
.method-icon {
	width: 2rem;
	height: 2rem;
	filter: invert(70%) sepia(96%) saturate(465%) hue-rotate(2deg) brightness(108%) contrast(106%);
}


.method-icon:hover>* {
	transition: 0.2s;
	filter: invert(70%) sepia(96%) saturate(465%) hue-rotate(2deg) brightness(108%) contrast(106%);

}

/* ----------------------------------------------------
					Form
-----------------------------------------------------*/

.form-section {
	background-color: var(--blue-gray);
	position: relative;
	z-index: 10;
}

.form-container {
	padding: 1rem;
	padding-top: 7rem;
	padding-bottom: 3rem;

	display: flex;
	flex-direction: column;
	gap: 2rem;

	position: relative;
	text-align: center;
}

.form-title {
	color: var(--white);
	margin-right: auto;
    margin-left: auto;
    font-size: 2rem;
    line-height: 1;
}

.form-description {
	color: var(--white);
}

.contact-form {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.contact-form .group-1, .contact-form .group-2 {
	width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
	gap: 1rem;
}

.contact-form .group-1 input {
	width: 100%;
}




.contact-form input {
	height: 3rem;
    width: 32.5%;
    display: inline;
}

.contact-form input:nth-of-type(4) {
	width: 100%;
	height: 16rem;
}


.contact-form input:focus{
	outline: none;
}

.contact-form .submit-btn {
	width: 12rem;
    height: 3.5rem;
    font-size: larger;
    background-color: var(--yellow);
    border: none;
    font-weight: bold;
	cursor: pointer;

    padding: 0.75rem 2rem;
    text-align: center;
    color: var(--black);
}

.pop-ups-container {
	display: flex;
    justify-content: center;
    align-items: center;
}

.error-message-pop-up {
	width: fit-content;
    color: var(--white);
    background-color: var(--red);
    padding: 1rem 2rem;
    border-radius: 100px;
}

.success-message-pop-up {
	width: fit-content;
    color: var(--white);
    background-color: var(--green);
    padding: 1rem 2rem;
    border-radius: 100px;
}

/* ----------------------------------------------------
					Footer
-----------------------------------------------------*/

.footer-section {
	background-color: var(--dark-gray);
	

	position: relative;
	bottom: 0;
	z-index: 20;
}

.footer-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;

	padding-block-start: 0.5rem;
}
.copyright-statement {
	color: white;
    font-size: 1rem;
    font-weight: lighter;
    line-height: 2rem;
}

.copyright-statement span {
	color: var(--yellow);
}
.socials-wrapper {
	display: flex;
    flex-direction: revert;
    justify-content: center;
    align-items: center;
    gap: 1rem;
	margin-bottom: 0.5rem;
}



.social-medio-icon {
	width: 1.5rem;
	height: 1.5rem;
	filter: invert(100%) sepia(82%) saturate(2%) hue-rotate(220deg) brightness(111%) contrast(101%);
}
.back-to-top-btn {
	width: 3rem;
	height: 3rem;
	padding: 0.5rem;
	background-color: var(--yellow);

	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.back-to-top-btn svg {
	width: 2rem;
	height: 2rem;
	fill: var(--white);
	transform: rotate(180deg);
}



