div[class*='container'] {
		width: 100%;
}


/* ----------------------------------------------------
						navbar
-----------------------------------------------------*/


nav {
	background-color: var(--dark-blue);
	
	width: 100vw;

	position: fixed;
	z-index: 20;
	overflow: hidden;
}

.navbar-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;

	position: relative;

}

.logo {
	width: 80px;
	height: 80px;

	margin-left: 0.5rem;
}

.hamburger-icon {
	width: 2rem;
    height: 2rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    fill: var(--yellow);
}

.navbar-links-ul {
	width: 100%;
	height: 95vh;

	display: none;
	flex-direction: column;
	justify-content: flex-start;
	text-align: center;

	gap: 2rem;
	padding-top: 2rem;

	
}
.navbar-links-ul.expand {
	display: flex;
	animation: all 0.5s;

}

.navbar-link {
	width: 100%;
	color: var(--white);
	font-size: 1.5rem;
}

.block-before {
	position: relative;
}

.block-before::before {
	content: '';
	width: 0.5rem;
	height: 0.5rem;
	background-color: var(--yellow);

	position: absolute;
	right: 0;
	left: 0;
	margin-left: auto;
	margin-right: auto;
	top: -1rem;

}

.current {
	color: var(--yellow);
	letter-spacing: 1rem;
	font-size: 1.5rem;
}

/* ----------------------------------------------------
						hero
-----------------------------------------------------*/


.hero-container {
	padding-top: 12vh;
	height: 100vh;

	position: relative;

	background-color: var(--blue);
}

.hero-bg-strip {
	width: 100%;
	height: 40vh;
	background-color: var(--dark-blue);
	position: absolute;
    top: 36vh;

    z-index: 1;
}

.slogan {
	font-size: 2rem;
	color: var(--white);
	position: absolute;
    top: 42vh;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
	max-width: 25rem;
    z-index: 2;
    text-align: center;
}

.buy-btn {
	width: 12rem;
	padding: 0.75rem 2rem;
	font-weight: bold;
	text-align: center;
	color: var(--black);
	background-color: var(--yellow);

	position: absolute;
	top: 60vh;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	z-index: 2;
}

.move-down-btn {
	width: 3rem;
	height: 3rem;
	padding: 0.5rem;
	background-color: var(--yellow);

	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.move-down-btn svg {
	width: 2rem;
	height: 2rem;
	fill: var(--white);
}

/* ----------------------------------------------------
						Services
-----------------------------------------------------*/


.services-section {
	background-color: var(--off-white);
}

.services-container {
	padding: 1rem;
	padding-top: 7rem;
	padding-bottom: 3rem;

	display: flex;
	flex-direction: column;
	gap: 1rem;

	position: relative;
	text-align: center;
}

.secondary-title {
	margin-right: auto;
	margin-left: auto;

	line-height: 1;
}

.main-title {
	margin-right: auto;
	margin-left: auto;

	font-size: 2rem;
	line-height: 1;
}

.divider {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;

	width: 10rem;
	border-bottom: 3px solid var(--yellow);
}

.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
}

.service {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.service:hover {
	background-color: var(--light-gray);
}

.service-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	text-align: left;
}

.service-name {
	line-height: 1.5;
}

.service-description {
	line-height: 1;
}
.service-icon-wrapper {
	width: 5rem;
	height: 5rem;

	min-width: 5rem;
	min-height: 5rem;

	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--yellow);

	border: 1px solid transparent;
	border-radius: 50%;


}
.service-icon {
	width: 2rem;
	height: 2rem;
	filter: invert(99%) sepia(94%) saturate(17%) hue-rotate(336deg) brightness(106%) contrast(100%);
}

.service-icon-wrapper:hover {
	background-color: var(--white);
	border-color: var(--black); 
}

.service-icon-wrapper:hover>* {
		filter: invert(70%) sepia(96%) saturate(465%) hue-rotate(2deg) brightness(108%) contrast(106%);

}

/* ----------------------------------------------------
					how we do it
-----------------------------------------------------*/

.how-section {
	background-color: var(--blue-gray);

}

.how-container {
    padding: 1rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    text-align: center;
}

.how-title {
	color: var(--yellow);
	margin-right: auto;
    margin-left: auto;
    font-size: 2rem;
    line-height: 1;
}

.how-description {
	font-weight: lighter;
	color: var(--white);
	margin-right: auto;
    margin-left: auto;
}

.stages {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    margin-top: 2rem;
}

.stage {
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.stage-icon {
	width: 2rem;
    height: 2rem;
    filter: invert(70%) sepia(96%) saturate(465%) hue-rotate(2deg) brightness(108%) contrast(106%);
}

.stage-text {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    max-width: 10rem;
}

.stage-title {
	color: var(--white);
}

.stage-description {
	color: var(--white);
	font-size: 0.8rem;
	font-weight: lighter;
	line-height: 1;
}
