@media only screen and (min-width: 600px) {

	div[class*='container'] {
		width: 550px;
		margin-left: auto;
		margin-right: auto;
	}

/* ----------------------------------------------------
						navbar
-----------------------------------------------------*/




/* ----------------------------------------------------
						hero
-----------------------------------------------------*/




/* ----------------------------------------------------
						Services
-----------------------------------------------------*/

	.services {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
		gap: 1rem;
	}

	.service {
		max-width: 15rem;
		flex-direction: column;
		padding: 1rem;
	}

	.service-text {
		text-align: center;
		justify-content: center;
		align-items: center;
		gap: 0.5rem;
	}

	.service-title {
		font-size: 1.2rem;
	}
}