@media only screen and (min-width: 600px) {

	div[class*='container'] {
		width: 550px;
		margin-left: auto;
		margin-right: auto;
	}

/* ----------------------------------------------------
						navbar
-----------------------------------------------------*/




/* ----------------------------------------------------
						hero
-----------------------------------------------------*/




/* ----------------------------------------------------
						Services
-----------------------------------------------------*/

	.services {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
		gap: 1rem;
	}

	.service {
		max-width: 15rem;
		flex-direction: column;
		padding: 1rem;
	}

	.service-text {
		text-align: center;
		justify-content: center;
		align-items: center;
		gap: 0.5rem;
	}

	.service-title {
		font-size: 1.2rem;
	}


/* ----------------------------------------------------
					how we do it
-----------------------------------------------------*/

	.stages {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
		gap: 1rem;
	}

	.stage {
		flex-direction: column;
		padding: 1rem;
		gap: 1rem;
	}

	.stage-text {
		text-align: center;
		justify-content: center;
		align-items: center;
		gap: 0.5rem;
	}

/* ----------------------------------------------------
						works
-----------------------------------------------------*/

	.works-description {
		color: var(--gray-text);
	}

	.filters {
		justify-content: center;
    	gap: 1rem;
	}

	.filter {
		width: auto;
		padding: 0;
		background-color: inherit;
	}

	.filter.selected {
		background-color: inherit;
	}

	.square-divider {
		display: block;
	}

	.work-showcase {
		flex-direction: row;
	}

	.work-img {
		min-width: 15rem;
		min-height: 20rem;
	}

	.work-text {
		align-items: flex-start;
		text-align: left;
	}

	.work-title {
		font-size: 1.5rem;
	}

	.work-description {
		font-size: 0.9rem;
	}

/* ----------------------------------------------------
				like-our-porfolio
-----------------------------------------------------*/

	.lop-container {
		gap: 1.25rem;
	}

	.lop-contact-btn {
		transition: 0.3s;
		transform: rotate(0deg);
	}

	.lop-contact-btn:hover {
		transition: 0.3s;
		transform: rotate(-5deg);
	}


/* ----------------------------------------------------
					numbers
-----------------------------------------------------*/

	.number-wrapper {
		width: 7rem;
	}

/* ----------------------------------------------------
					About us
-----------------------------------------------------*/


.value-text {
	align-items: flex-start;
	text-align: left;
}

.value:nth-of-type(even) {
	flex-direction: row;
}

.au-description {
	margin-bottom: 0;
}


	
}